<div class="class">
  <h2>two-way-binding works!</h2>
  <form>
    <input
      type="text"
      [(ngModel)]="name"
      name="name"
      placeholder="Digite o seu nome"
    />
    <input
      type="number"
      [(ngModel)]="numeros"
      name="numeros"
      placeholder="Digite um numero"
    />
    <input type="submit" value="Enviar" />
  </form>
  <div *ngIf="name !== ''">
    <p>O nome é: {{ name }}</p>
  </div>
  <div *ngIf="numeros !== 0">
    <p>O numero é: {{ numeros }}</p>
  </div>
</div>
